@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.Wrap {

}

/* topBanner 2022.03.17 No.1 */
.topBanner {
    padding: 24px 0;
    background-color: #f2f2f2;
}

.topBanner .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.topBanner h2 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 0.040em; /*자간*/
}

.topBanner p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
}

.topBanner a {
    padding: 3px 30px;
    border: 1px solid #333;
    font-size: 15px;
    font-weight: 300;
    margin-left: 30px;
}

.topBanner i {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 20px;
    background: #ddd;
    padding: 7px;
    border-radius: 50%; /*원형이 됨*/
}

.headerWrap {

}


.headerWrap .container {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    line-height: 100px;
}

.headerWrap .container>* {
    padding: 0 15px;
}

.headerWrap .gnb {
    margin-left: auto;
}

.headerWrap .gnb>ul {
    display: flex;
    gap: 50px;
    color: #212529;
}

.headerWrap .gnb>ul>li { /*밑에 메뉴박스 기준이 되는 점*/
    position: relative;
}

.headerWrap .gnb>ul>li>a { /*상자에만 다가가도 마우스모양 바뀜*/
    display: block;
}



.headerWrap .gnb>ul>li~li::before { /*"~"아래형제 선택/첫번째가 기준*/
    content: "";
    position: absolute;
    inset: 50% auto auto -25px;
    display: block; /*콘텐츠는 박스다라는 의미*/
    width: 1px;
    height: 12px;
    background: #212529;
    transform: translateY(-50%);
}

/* .headerWrap .gnb>ul>li:first-child::before {
    display: none;
} 아래형제 선택할때 예전 방법*/


#searchform input[type="text"] {
    color: #333;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    padding: 3px 5px;
}

#searchform input::placeholder {
    color: #fd7e14;
}

#searchform input:focus::placeholder {
    color: transparent;
}

#searchform button {
    border: none;
    background: transparent;
}

#searchform button i {
    color: #fff;
    background: #333;
    font-size: 17px;
    padding: 10px;
    border-radius: 50%;
}

/* 메인 슬라이드 */
.mainVisual {

}

.mainVisual .mainVisualSlide figure {
    position: relative; /*슬로건들의 기준점*/
    height: 600px;
    color: #fff;
    text-shadow: 0 0 3px #333;
}

.mainVisual .mainVisualSlide figure.itm02 {
    color: #333;
    text-shadow: 0 0 3px #fff;
}

.mainVisual .mainVisualSlide figure h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;

    opacity: 0;
    transform: translateY(100px);
}

.mainVisual .mainVisualSlide figure.on h2 {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
}

.mainVisual .mainVisualSlide figure p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(100px);
}

.mainVisual .mainVisualSlide figure.on p {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s 0.5s;
}

.mainVisual .mainVisualSlide figure a {
    display: inline-block;
    padding: 5px 20px;
    background: #333;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    opacity: 0;
    transform: translateY(100px);
}

.mainVisual .mainVisualSlide figure.on a {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s 1s;

}

.mainVisual .mainVisualSlide figure i {
    vertical-align: middle;
}


.mainVisual .mainVisualSlide .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat center/cover;
}
.mainVisual .mainVisualSlide .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat center/cover;
}
.mainVisual .mainVisualSlide .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat center/cover;
}

.mainVisual .mainVisualSlide .slogan {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
    padding: 0 15px;
}

/* 중요함 */
.conetWrap {
    padding: 100px 0;
}

.conetWrap h2 {
    font-size: 19px;
    font-weight: 100;
    letter-spacing: 0.5em;
    text-align: center;
}

/* ↓글 밑에 언더바 디자인 */
.conetWrap h2::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: #6f42c1;
    margin: 20px auto;
}/* */

.conetWrap p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
    text-align: center;
    margin: 0 0 50px 0;
}
.conetWrap .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.conetWrap .container figure {
    flex: 1;
    padding: 0 15px;
    text-align: center;
}

.conetWrap .container figure .inner {
    overflow: hidden;
    border-radius: 58% 42% 29% 71% / 64% 60% 40% 36% ;
    margin: 0 0 20px 0;
}

.conetWrap .container figure img {
    transition: 1s;/*1초동안 천천히 움직여라*/
}

.conetWrap .container figure img:hover {
    transform: scale(1.5) rotate(10deg);/*1.5배커져라 마우스올릴때*/
}

.conetWrap .container figure strong {
    display: block;
    /*글자가 인라인 속성, display가 있어야 적용됨 */
    margin: 0 0 20px 0;
}

.conetWrap .container figure a {
    display: inline-block;
    padding: 5px 20px;
    border: #6f42c1 solid 2px;
    border-radius: 30px;
}

.eventBanner {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/mainvisual01.jpg) no-repeat fixed center center/cover;
    /* background-attachment: fixed; 가득채운 이미지에서 일부만 보여줌,고정 */
    /*background-color background-image background-repeat background-position-x background-position-y*/
    filter: grayscale();/*색빼기, 흑백농도*/
}

.eventBanner h2 {
    font-size: 19px;
    font-weight: 100;
    letter-spacing: 0.5em;
    margin: 0 0 10px 0;
}

.eventBanner p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin: 0 0 50px 0;
}

.eventBanner i {
    padding: 10px;
    background: #333;
    border-radius: 50%;
    margin: 0 0 0 10px;
}

.adMovie {
    padding: 100px 0;
}

.adMovie .container {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.adMovie video {
    width: 100%;
}

.adMovie .container>*/*자식모두선택*/ { 
    flex: 1;
    padding: 0 15px;
}

.adMovie h2 {
    font-size: 19px;
    font-weight: 100;
    letter-spacing: 0.5em;
    margin: 0 0 10px 0;
}

.adMovie p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin: 0 0 50px 0;
    line-height: 1.4;
}

.adMovie i {
    font-size: 20px;
    color: #fff;
    background: #212529;
    padding: 10px;
    border-radius: 50%;
    margin: 0 5px 0 0;
}